doctype html
html
    head
        title= title

        <!-- Bootstrap CSS Stylesheet -->
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")

        <!-- Lightbox CSS Stylesheet -->
        link(rel="stylesheet" href="/stylesheets/lightbox.min.css")
        
        <!-- jQuery UI CSS Stylesheet -->
        link(rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
        
        <!-- Custom CSS Stylesheet -->
        link(rel='stylesheet' href='/stylesheets/style.css')

        <!-- jQuery JavaScript -->
        script(src="https://code.jquery.com/jquery-1.12.0.min.js")
        
        <!-- jQuery UI Javascript -->
        script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")

        <!-- Bootstrap JavaScript -->
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")

        <!-- Custom General Javascript -->
        <!-- Certain pages of the app will have their own custom JS, which will be imported within their own view-->
        script(src="/javascripts/script.js")
    body
        div.container-fluid
            block content
