extends layout

block content
  h1= title

  -for(var i = 0; i < mediaItems.length; i++)
    if mediaItems[i].fileType == "image"
        figure
            img(src='#{mediaItems[i].filePath}' alt="Alt Text" class="thumbnail")
            if mediaItems[i].title
                figcaption #{mediaItems[i].title}
            else
                figcaption #{mediaItems[i].file.originalname}
