body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.mobileShow {
    display: none;
}

a {
  color: #00B7FF;
}

.thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.glyphicon-ok-circle {
    color: #007700;
}

.glyphicon-ban-circle {
    color: #770000;
}

#currentPortfolioURL form input, #savePortfolioURL, #cancelPortfolioURL {
    display: none;
    width: 100%;
}

.center-contents {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}
.center-vertical {
    position: absolute;
    top: 25%;
    left: 15%;
}

.full-contents input, .full-contents label {
    width: 100%;
}
.row {
    margin: 2% 0;
}
button {
    margin: 2% 0;
}

#profilePicture {
    width: 100%;
    height: auto;
    max-width: 50px;
}
html {
    overflow-y: scroll;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

figcaption {
    margin-top: 2%;
}

figure {
    margin-bottom: 6%;
    position: relative;
    overflow: hidden;
}

figure div {
    padding: 0 !important;
}

figure > button, select {
    z-index: 2;
}
video {
    margin: 0, auto;
    height: 100%;
    text-align: center;
    position: relative;
}

.formWarning {
    background-color: #EC9D9D;
}

input, select, button, textarea {
    width: 100%;
}
.glyphicon {
    position: absolute;
    right: 8%;
    top: 6%;
}
#adminOptions {
    min-height: 70vh;
}
.ui-accordion-content {
    padding: 1% !important;
}

#sortable, #home, #adminPagesTabs {
    overflow-x: hidden;
    overflow-y: auto;
}
.tabs {
    min-height: 50vh;
    overflow-y: auto;
}

img {
    width: 100%;
    height: auto;
}
hr {
    border-top: 4px solid #ddd !important;
    margin-bottom: 6vh;
    width: 80%;
}
label span {
    font-weight: normal;
}

object {
    position: absolute;
    z-index: 1;
}
.flashUnavailable {
    display: none;
}

#portfolioPagesTabs figure video, #portfolioPagesTabs figure object, #portfolioPagesTabs .objectContainer {
    min-height: 40vh !important;
}
/* To match with MD of bootstrap CSS */
@media screen and (max-width: 991px) {
    .mobileShow {
        display: block;
    }
    .container-fluid, div {
        padding: 0 !important;
    }
    body, .ui-tabs-panel {
        padding: 0 2% !important;
    }
    .center-contents {
        display: block;
    }
    .center-vertical {
        position: relative;
    }
    .ui-tabs-nav {
        margin-top: 10%;
        height: 14vw;
        bottom: 0;
        width: 100%;
    }
    .ui-tabs-nav * {
        display: inline-block;
        text-align: center;
        vertical-align: center;
        display: block;
        width: 48%;
        height: 100%;
        font-size: 4vw;
    }
    .ui-tabs-nav a {
        font-weight: 700;
        padding-top: 4vw !important;
        width: 100%;
    }
    
    body * {
        font-size: 3.6vw !important;
    }

    h1 {
        font-size: 4.5vw !important;
    }
    h2 {
        font-size: 4.2vw !important;
    }
    h3 {
        font-size: 3.9vw !important;
    }

    h1, h2 {
        font-weight: 700;
    }
    .relative {
        position: relative;
        padding-top: 8vh !important;
    }
    .submitButton {
        padding: 4% 0;
    }
    #createOrLoginAccount input {
        margin-bottom: 2vh;
    }
    .googleButton {
        position: absolute;
        top: 2vh;
        right: 0;
        width: 50vw;
    }
    .googleButton button {
        padding: 5vw 1vh !important;
    }
    .mobileHide {
        display: none;
    }
    figure {
        margin: 4vw 0 !important;
    }
    #adminOptions {
        margin-bottom: 9vw;
        min-height: inherit;
    }
    .noMediaItems {
        margin-top: 12vh;
    }
    button, input {
        padding: 2vw 2vw !important;
    }
    select {
        padding: 4vw 2vw !important;
    }
    .flashUnavailable {
        display: block;
        position: absolute;
        top: 35%;
        left: 0;
        text-align: center;
        z-index: 0;
    }
    .flashUnavailable span {
        position: static;
        color: #CCED11;
        font-size: 5vw !important;
    }
    #portfolioPagesTabs figure video, #portfolioPagesTabs figure object, #portfolioPagesTabs .objectContainer {
        min-height: 45vh;
    }
}