body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.thumbnail {
    width: 100%;
    height: auto;
}

.glyphicon-ok-circle {
    color: #007700;
}

.glyphicon-ban-circle {
    color: #770000;
}