body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.glyphicon-ok-circle {
    color: #007700;
}

.glyphicon-ban-circle {
    color: #770000;
}

#currentPortfolioURL form input, #savePortfolioURL, #cancelPortfolioURL {
    display: none;
    width: 100%;
}

.center-contents {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 40vh;
}
.center-vertical {
    position: absolute;
    top: 50%;
    left: 15%;
}
.full-contents input, .full-contents label {
    width: 100%;
}
.row {
    margin: 2% 0;
}
button {
    margin: 2% 0;
}

#profilePicture {
    width: 100%;
    height: auto;
    max-width: 50px;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

figcaption {
    margin-top: 2%;
}

figure {
    margin-bottom: 6%;
    position: relative;
    overflow: hidden;
}

figure > button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
video {
    margin: 0, auto;
    height: 100%;
    text-align: center;
    position: relative;
}

.formWarning {
    background-color: #FC9D9D;
}

input, select, button {
    width: 100%;
}
.glyphicon {
    position: absolute;
    right: 8%;
    top: 6%;
}

#adminOptions {
    height: 70vh;
}
.ui-accordion-content {
    padding: 1% !important;
}

.deleteMedia {
    width: 15%;
}
#sortable {
    overflow: auto;
}
.tabs {
    min-height: 50vh;
}